@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  width: 450px;
  height: 500px;
  margin-top: 4rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.text-box {
  margin: 2.3rem;
}

.text-box h1 {
  text-align: center;
  font-size: 45px;
}

input[type="text"] {
  width: 100%;
}

input[type="password"] {
  width: 100%;
}

input[type="email"] {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 2px;
  height: 2rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  color: blue;
  transition: 0.2s;
  border: 1px solid blue;
}

.top-bar {
  background-color: rgb(86, 86, 249);
  width: 75%;
  position: fixed;
  height: 4em;
  top: 0;
  right: 0;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  float: left;
  max-height: 4em;
}

.image-box {
  margin-left: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.top-bar a button {
  float: right;
  margin: 1.2em 2em;
  width: 8%;
  height: 2rem;
  color: blue;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-bar a button:hover {
  background-color: rgb(86, 86, 249);
  color: white;
  transition: 0.2s;
  border: 1px solid white;
}

.image-box img {
  width: 63px;
  height: 50px;
  margin: auto;
}

.text-box {
  margin: 0;
  margin: 1rem 1.7rem;
}

.text-box p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
}

.sidebar {
  margin: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: white;
  padding: 1rem;
}

.sidebar input[type="search"] {
  width: 100%;
  height: 2.6rem;
  padding: 1em;
  border: none;
  border-radius: 1em;
  background-color: #eee;
}

.contact-list {
  margin-top: 1em;
}

.contact {
  width: 100%;
  height: 4rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contact:hover {
  background-color: #eee;
  transition: 0.1s;
}

.contact:active {
  background-color: #eee;
}

.pesan {
  line-height: 0;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin: 0 1.8em;
}

.contact img {
  width: 63px;
  height: 50px;
  margin: auto;
}
/* .nav {
  display: flex;
}

.sidebar ul {
  cursor: pointer;
  list-style: none;
  border-radius: 5px;
  width: 5%;
  margin: 0;
}

.sidebar ul li {
  background-color: #eee;
  width: 4.7em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}

.sidebar ul:hover li {
  background-color: #eee;
  width: 4.7em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: block;
} */

/* 
chat box starts here */

.chat-box {
  width: 75%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 4em;
  height: 100%;
}

.message-box {
  overflow: auto;
  height: 80%;
  position: fixed;
  width: 100%;
}

.msg-img-box {
  margin-left: 1em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.msg-img-box img {
  width: 63px;
  height: 50px;
  margin: auto;
}

.msg-text-box{
  display: flex;
}

.msg-text-box p {
  padding: 0;
  margin: 0;
  margin-left: 1em;
}

.msg-text-box .ingoing {
  /* background-color: rgb(190, 231, 227); */
  background-color: white;
  width: 100%;
  height: 3em;
  padding: 6px;
  border-radius: 18px 18px 18px 0 ;
  color: black;
  margin-bottom: 2em;
}

.msg-text-box .outgoing {
  /* background-color: rgb(190, 231, 227); */
  background-color: rgb(86, 86, 249);
  width: 100%;
  height: 3em;
  padding: 6px;
  border-radius: 18px 18px 0 18px ;
  color: white;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.chat-date {
  text-align: center;
  width: 70%;
  height: 2.6em;
}

.chat-date,
.message {
  display: flex;
}

.chat-date p {
  background-color: lightblue;
  border-radius: 5px;
  margin: auto;
  width: 20%;
}

/* input box starts here  */

.message-input-box {
  height: 10%;
  width: 75%;
  bottom: 0;
  right: 0;
  position: fixed;
  padding: 1rem;
  background-color: rgb(154, 146, 146);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input-box input[type="text"] {
  width: 80%;
  height: 2.3rem;
  border-radius: 10px;
  border: none;
  padding: 1em;
  font-size: 1em;
}

.message-input-box input[type="submit"] {
  width: 10%;
  background: red;
  margin: 0;
  margin-left: 10px;
  height: 2.3rem;
  border-radius: 10px;
  background-color: blue;
}

.message-input-box input[type="submit"]:hover {
  opacity: 0.6;
  transform: 0.001s;
  color: white;
}
